1. During the test phase, each team can make max 6 submissions.
2. Participants can use any pre-trained models and use their own prompting/modeling strategies. But, predictions from any online inference services (e.g., ChatGPT) is not allowed.
3. Participants are encouraged to submit a system description paper by the regular paper subission deadline.

Important Dates

    15 August 2023: Beginning of the evaluation cycle (test sets release and run submission)
    18 August 2023: End of the evaluation cycle
    20 August 2023: Publish rank list and share paper submission details
    7 September 2023: System description paper submission deadline
    10 October 2023: Notification of acceptance
    18 October 2023: Camera-ready due
    7 December 2023: Workshop co-located with EMNLP (Singapore)


